In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import requests
from kaggle_secrets import UserSecretsClient
user_secrets = UserSecretsClient()
apiKey = user_secrets.get_secret("request_key")
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/clean-movie-dataset-10k/movies_clean_data.pkl
/kaggle/input/movies-dataset/Movies_dataset2.pkl

In [2]:
#importing the movies dataset of 10k movies
movies_dataset = pd.read_pickle('/kaggle/input/clean-movie-dataset-10k/movies_clean_data.pkl')
movies_dataset

,adult,genre_ids,id,original_language,original_title,overview,popularity,release_date,title,video,vote_average,vote_count
0,False,[53],985939,en,Fall,"For best friends Becky and Hunter, life is all...",9320.962,2022-08-11,Fall,False,7.4,658
1,False,"[27, 9648, 878, 53]",762504,en,Nope,Residents in a lonely gulch of inland Californ...,1587.271,2022-07-20,Nope,False,7.0,1458
2,False,"[16, 10751, 35, 878]",1010821,en,Groot Takes a Bath,Everybody needs some alone time to relax and w...,964.024,2022-08-10,Groot Takes a Bath,False,7.0,129
3,False,"[28, 12, 14]",639933,en,The Northman,Prince Amleth is on the verge of becoming a ma...,725.515,2022-04-07,The Northman,False,7.2,2365
4,False,"[28, 12]",335787,en,Uncharted,"A young street-smart, Nathan Drake and his wis...",598.659,2022-02-10,Uncharted,False,7.1,3458
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,[10752],51200,ko,포화 속으로,A civil war broke out in the 1950s between Nor...,12.389,2010-06-16,71: Into the Fire,False,7.5,142
9996,False,"[28, 18, 36]",2669,en,The Bounty,"The familiar story of Lieutenant Bligh, whose ...",8.883,1984-05-04,The Bounty,False,6.7,412
9997,False,"[878, 27]",18983,en,"Godzilla, King of the Monsters!","During an assignment, foreign correspondent St...",11.381,1956-04-27,"Godzilla, King of the Monsters!",False,6.7,176
9998,False,"[18, 10749, 10751]",40724,en,Anne of Green Gables: The Sequel,"Anne Shirley, now a schoolteacher, has begun w...",11.128,1987-05-19,Anne of Green Gables: The Sequel,False,7.9,100
9999,False,[18],9953,en,A Love Song for Bobby Long,A headstrong young woman returns to New Orlean...,12.626,2004-09-02,A Love Song for Bobby Long,False,6.8,290

In [3]:
genre_list = requests.get(f'https://api.themoviedb.org/3/genre/movie/list?api_key={apiKey}&language=en-US')
genre_list

In [4]:
genre_list_second = pd.json_normalize(pd.DataFrame(genre_list.json())['genres'])
genre_list_second

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

In [5]:
genre_list_second.to_pickle('genres_list.pkl')